/* Start Global Rules */
.ltr {
  direction: ltr;
}
/* End Global Rules */
/* Start Components */
.ltr .field .input::after {
  right: initial;
  left: 0;
}

.ltr .animated-btn span {
  flex-direction: row-reverse;
}

.ltr .swiper-wrapper .animated-btn span {
  flex-direction: row;
} 
/* End Components */
/* Start Top Bar */
.ltr .top-bar .data .data-box .select .icon {
  left: initial;
  right: 10px;
}
/* End Top Bar */
/* Start Header */
.ltr header .header-icons .cart-btn::before {
  right: initial;
  left: 0;
  transform: translate(-50%, -50%);
}
/* End Header */
/* Start Main Menu */
.ltr .main-menu {
  right: initial;
  left: 0;
  transform: translateX(-100%);
}

.ltr .main-menu.open {
  transform: translateX(0);
}

.ltr .main-menu .links a:hover {
  padding-right: 0;
  padding-left: 10px;
}
/* End Main Menu */
/* Start Search Bar */
.ltr .search-bar button {
  left: initial;
  right: 0;
}
/* End Search Bar */
/* Start Login Popup */
.ltr .login-popup::after {
  left: initial;
  right: 0;
  transform: translate(50%, 50%);
}

.ltr .login-popup .close-icon {
  left: initial;
  right: 15px;
}
/* End Login Popup */
/* Start Cart Menu */
.ltr .cart-menu {
  left: initial;
  right: 0;
  transform: translateX(100%);
}

.ltr .cart-menu.open {
  transform: translateX(0);
}
/* End Cart Menu */
/* Start Decorated Section */
.ltr .decorated-section .path .icon {
  transform: rotate(180deg);
}
/* End Decorated Section */
/* Start Cart Popups */
.ltr .cart-popup {
  right: initial;
  left: 30px;
}

.ltr .cart-popup.hide {
  transform: translateX(calc(-100% - 30px));
}
/* End Cart Popups */