/* Start Custom Variables */
:root {
  /* Colors */
  --main-color: #ce181e;
  --white-color: #fff;
  --black-color: #222;
  --dark-gray-color: #777;
  --light-gray-color: #f4f4f4;
  /* Font Size */
  --title-font-size: calc(1.2rem + 1.5vw);
  /* Section Padding (Spaces) */
  --section-padding: 60px;
  /* Border & Border-radius */
  --light-border: 1px solid #ddd;
  --radius-6: 6px;
  --radius-circle: 50%;
  /* Transitions */
  --transition-duration: 500ms;
}
/* End Custom Variables */
/* Start Global Rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

body::before {
  content: "";
  background-color: rgb(0 0 0 / 80%);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

body.loaded {
  overflow: auto;
}

body.overlay {
  overflow: hidden;
}

body.overlay::before {
  opacity: 1;
  pointer-events: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea, 
button {
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  direction: inherit;
  caret-color: var(--main-color);
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  appearance: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Global Rules */
/* Start Components */
aside.menu {
  background-color: var(--white-color);
  width: 360px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all var(--transition-duration);
}

aside.open {
  opacity: 1;
  transform: translateX(0);
}

aside.menu .menu-head {
  padding: 25px 20px;
  border-bottom: var(--light-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside.menu .menu-head h3 {
  font-size: 17px;
}

aside.menu .menu-footer {
  padding: 25px 20px;
  border-top: var(--light-border);
}

.close-icon {
  width: 24px;
  height: 24px;
  border: var(--light-border);
  border-radius: var(--radius-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-gray-color);
  font-size: 14px;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.close-icon:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  background-color: var(--main-color);
  width: 34px;
  height: 34px;
  border: 3px solid var(--main-color);
  border-radius: var(--radius-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 14px;
  transition: all var(--transition-duration);
}

.social-icons a:hover {
  background-color: transparent;
  color: var(--main-color);
  transform: translateY(-10px) rotate(1turn);
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 15px;
  font-weight: 500;
}

.field .input {
  position: relative;
  margin-top: 5px;
}

.field .input::after {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all var(--transition-duration);
}

.field .input:focus-within::after {
  width: 100%;
}

.field.success .input::after {
  background-color: #0f0;
}

.field.error .input::after {
  background-color: #f00;
}

.field .input input {
  display: block;
  width: 100%;
  padding: 7px 0;
  border-bottom: 3px solid var(--dark-gray-color);
}

.field .msg {
  font-size: 13px;
}

.field .msg:has(.icon) {
  margin-top: 10px;
}

.field.success .msg {
  color: #0f0;
}

.field.error .msg {
  color: #f00;
}

.animated-btn {
  display: inline-block;
  padding: 12px 35px;
  border: 3px solid var(--main-color);
  border-radius: var(--radius-6);
  position: relative;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.animated-btn::before {
  content: "";
  background-color: var(--main-color);
  width: 200%;
  height: 200%;
  border-radius: var(--radius-circle);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: all var(--transition-duration);
}

.animated-btn:hover::before {
  top: 50%;
  transform: translate(-50%, -50%);
}

.animated-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  transition: all var(--transition-duration);
}

.animated-btn .text-2 {
  color: var(--white-color);
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.animated-btn:hover .text-1 {
  transform: translateY(-40px);
}

.animated-btn:hover .text-2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-box {
  background-color: #e9eefa;
  padding: 15px;
  border-radius: var(--radius-6);
  user-select: none;
}

.product-box.hide {
  display: none;
}

.product-box img {
  border-radius: var(--radius-6);
  aspect-ratio: 3 / 4;
}

.product-box .text {
  padding-top: 15px;
  text-align: center;
}

.product-box .text a {
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  transition: color var(--transition-duration);
}

.product-box .text a:hover {
  color: var(--main-color);
}

.product-box .text .price {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}

.product-box .text .cart-btn {
  width: 100%;
  padding: 12px 15px;
}

.hover-shine {
  display: block;
  position: relative;
  overflow: hidden;
}

.hover-shine::before {
  content: "";
  background-image: linear-gradient(to right, transparent, #fff6);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: skewX(-0.08turn) translateX(-180%);
}

.hover-shine:hover::before {
  transform: skewX(-0.08turn) translateX(275%);
  transition: transform calc(var(--transition-duration) + 200ms);
}

.hover-shine img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.section-header {
  padding-bottom: 25px;
  margin-bottom: 40px;
  position: relative;
}

.section-header h2 {
  text-align: center;
  font-size: var(--title-font-size);
}

.section-header .shape {
  background-color: var(--main-color);
  width: 160px;
  height: 4px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .shape::after {
  content: "\f255";
  background-color: var(--white-color);
  width: 28px;
  height: 28px;
  border: 3px solid var(--main-color);
  border-radius: var(--radius-circle);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: leftAndRight 1s linear infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  font-weight: 900;
}

.section-header .shape:hover::after {
  animation-play-state: paused;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
  border-radius: 10px;
  transform: scale(1.5);
  transition: all var(--transition-duration);
}
/* End Components */
/* Start Animations */
@keyframes showAndHide {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes spinRight {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spinLeft {
  to {
    transform: rotate(-1turn);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes downShow {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftShow {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftAndRight {
  to {
    right: calc(100% - 28px);
  }
} 

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(206 24 30 / 75%);
  }
  70% {
    box-shadow: 0 0 0 25px rgb(0 0 0 / 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0);
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(0);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End Animations */
/* Start Preloader */
.preloader {
  background-color: var(--light-gray-color);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-duration);
}

.preloader.loaded {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.preloader img {
  display: block;
  width: 120px;
  animation: showAndHide 1.2s linear infinite;
}

.preloader .loader,
.preloader .loader::after {
  border-width: 4px;
  border-color: var(--main-color);
  border-radius: var(--radius-circle);
}

.preloader .loader {
  width: 80px;
  height: 80px;
  border-style: dotted solid;
  position: relative;
  animation: spinRight 1.3s linear infinite;
}

.preloader .loader::after {
  content: "";
  width: 55px;
  height: 55px;
  border-style: solid dotted;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: spinLeft 0.6s linear infinite;
}
/* End Preloader */
/* Start Top Bar */
.top-bar {
  background-color: var(--white-color);
  padding: 15px 0;
  border-bottom: var(--light-border);
}

.top-bar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 40px;
}

.top-bar p {
  font-size: 18px;
  font-weight: 500;
}

.top-bar p .icon {
  color: var(--main-color);
}

.top-bar .data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 20px;
}

.top-bar .data .data-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-bar .data .data-box span {
  font-size: 14px;
  font-weight: bold;
}

.top-bar .data .data-box .select {
  position: relative;
}

.top-bar .data .data-box .select .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  font-size: 13px;
  pointer-events: none;
} 

.top-bar .data .data-box .select select {
  width: 100px;
  padding: 6px 14px;
  border: var(--light-border);
  border-radius: var(--radius-6);
  font-size: 14px;
  transition: border-color var(--transition-duration);
}

.top-bar .data .data-box .select select:focus {
  border-color: var(--main-color);
}
/* End Top Bar */
/* Start Header */
header {
  background-color: var(--white-color);
  position: sticky;
  top: 0;
  z-index: 98;
  transition: all var(--transition-duration);
}

header.active {
  background-color: rgb(255 255 255 / 90%);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  animation: slideIn 0.7s linear forwards;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .logo-wrapper img {
  display: block;
  width: 96px;
  object-fit: cover;
}

header .logo-wrapper .main-menu-btn {
  background-color: var(--light-gray-color);
  width: 44px;
  height: 44px;
  border-radius: var(--radius-circle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

header .logo-wrapper .main-menu-btn:hover {
  background-color: #eee;
}

header .logo-wrapper .main-menu-btn:active {
  background-color: #ddd;
}

header .logo-wrapper .main-menu-btn span {
  background-color: var(--black-color);
  width: 22px;
  height: 2px;
}

header .header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .header-icons button {
  font-size: 18px;
  cursor: pointer;
  transition: color var(--transition-duration);
}

header .header-icons button:hover {
  color: var(--main-color);
}

header .header-icons .cart-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

header .header-icons .cart-btn::before {
  content: attr(data-products-count);
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: var(--radius-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  line-height: 1;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transform: translate(50%, -50%);
}

header .header-icons .cart-btn span {
  font-size: 14px;
  font-weight: 500;
}

/* Mobile Screens */
@media (max-width: 449px) {
  header .header-icons .cart-btn span {
    display: none;
  }
}
/* End Header */
/* Start Main Menu */
.main-menu {
  right: 0;
  opacity: 0;
  transform: translateX(100%);
}

.main-menu .links {
  flex-grow: 1;
  padding: 25px 20px;
}

.main-menu .links a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  transition: all var(--transition-duration);
}

.main-menu .links a:not(:last-child) {
  border-bottom: var(--light-border);
}

.main-menu .links a:hover {
  color: var(--main-color);
  padding-right: 10px;
}
/* End Main Menu */
/* Start Search Bar */
.search-bar {
  width: 600px;
  max-width: calc(100% - 30px);
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.search-bar.open {
  top: 35%;
  opacity: 1;
  pointer-events: auto;
}

.search-bar input {
  background-color: var(--white-color);
  display: block;
  width: 100%;
  padding: 20px;
  border: var(--light-border);
  border-radius: 30px;
}

.search-bar button {
  background-color: var(--main-color);
  width: 100px;
  height: 100%;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--white-color);
  font-size: 17px;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.search-bar button:hover {
  background-color: transparent;
  color: var(--main-color);
}

/* Large Screens & Up */
@media (min-width: 1200px) {
  .search-bar {
    width: 850px;
  }
  .search-bar input {
    padding: 25px;
    border-radius: 40px;
  }
  .search-bar button {
    width: 120px;
    border-radius: 40px;
  }
}
/* End Search Bar */
/* Start Login Popup */
.login-popup {
  background-color: var(--white-color);
  width: 700px;
  max-width: calc(100% - 30px);
  border: var(--light-border);
  border-radius: var(--radius-6);
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 100;
  transform: translate(-50% ,-50%);
  display: flex;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.login-popup.open {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
}

.login-popup::after {
  content: "";
  background-color: #f44336;
  width: 320px;
  height: 320px;
  border-radius: var(--radius-circle);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(-50%, 50%);
}

.login-popup .close-icon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.login-popup figure {
  width: 45%;
}

.login-popup figure img {
  display: block;
  width: 100%;
  height: 100%;
}

.login-popup form {
  width: 55%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-popup form h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
}

/* Mobile Screens */
@media (max-width: 600px) {
  .login-popup figure {
    display: none;
  }
  .login-popup form {
    width: 100%;
  }
}
/* End Login Popup */
/* Start Cart Menu */
.cart-menu {
  width: 400px !important;
  left: 0;
  opacity: 0;
  transform: translateX(-100%);
}

.cart-menu .empty-cart-content {
  padding: 25px;
  text-align: center;
}

.cart-menu .empty-cart-content.hide {
  display: none;
}

.cart-menu .empty-cart-content .icon {
  background-color: var(--main-color);
  width: 70px;
  height: 70px;
  border-radius: var(--radius-circle);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 30px;
}

.cart-menu .empty-cart-content h3 {
  font-size: 18px;
  margin: 10px 0;
}

.cart-menu .empty-cart-content p {
  color: var(--dark-gray-color);
}

.cart-menu .cart-products {
  flex-grow: 1;
}

.cart-menu .cart-products:has(.product) {
  padding: 25px;
}

.cart-menu .cart-products .product {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all var(--transition-duration);
}

.cart-menu .cart-products .product.deleted {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50px);
}

.cart-menu .cart-products .product:not(:last-child) {
  margin-bottom: 15px;
}

.cart-menu .cart-products .product img {
  width: 70px;
  height: 70px;
  border-radius: var(--radius-6);
  object-fit: cover;
}

.cart-menu .cart-products .product .details {
  flex-grow: 1;
}

.cart-menu .cart-products .product .details a {
  font-weight: 600;
  transition: color var(--transition-duration);
}

.cart-menu .cart-products .product .details a:hover {
  color: var(--main-color);
}

.cart-menu .cart-products .product .price {
  color: var(--dark-gray-color);
  font-size: 14px;
  font-weight: 500;
  margin: 7px 0;
}

.cart-menu .cart-products .product input {
  width: 70px;
  padding: 5px 10px;
  border: var(--light-border);
  font-size: 14px;
}

.cart-menu .cart-products .product .delete-icon {
  align-self: flex-start;
  font-size: 15px;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.cart-menu .cart-products .product .delete-icon:hover {
  color: var(--main-color);
  transform: rotate(0.5turn);
}

.cart-menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-menu .row .price {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: bold;
}

.cart-menu .checkout-btn {
  width: 100%;
}

.cart-menu .checkout-btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}
/* End Cart Menu */
/* Start Hero Section */
.hero {
  padding-top: var(--section-padding);
  overflow-x: hidden;
}

.hero .hover-shine {
  border-radius: var(--radius-6);
}

.hero .content {
  position: relative;
  animation: leftShow 0.5s linear forwards;
}

.hero .content .btn {
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-color);
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%) rotate(45deg);
  color: var(--main-color);
  cursor: pointer;
  transition: all var(--transition-duration);
}

.hero .content .btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.hero .content .btn:first-of-type {
  right: 20px;
}

.hero .content .btn:last-of-type {
  left: 20px;
}

.hero .content .btn .icon {
  transform: rotate(-45deg);
}

.hero .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.hero .images a {
  opacity: 0;
  transform: translateY(-50px);
  animation: downShow 0.4s linear forwards;
}

.hero .images a:nth-child(2) {
  animation-delay: 0.2s;
}

.hero .images a:nth-child(3) {
  animation-delay: 0.4s;
}

.hero .images a:nth-child(4) {
  animation-delay: 0.6s;
}

/* Mobile Screens */
@media (max-width: 599px) {
  .hero .content .btn {
    width: 30px;
    height: 30px;
  }
  .hero .images {
    grid-template-columns: 1fr;
  }
}
/* End Hero Section */
/* Start Products Section */
.products {
  padding: var(--section-padding) 0;
}

.products .product-box {
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all var(--transition-duration);
}

.products .product-box:nth-child(2) {
  transition-delay: 0.2s;
}

.products .product-box:nth-child(3) {
  transition-delay: 0.4s;
}

.products .product-box:nth-child(4) {
  transition-delay: 0.6s;
}

.products .product-box:nth-child(5) {
  transition-delay: 0.8s;
}

.products.show .product-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.products .controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.products .controllers .products-pagination {
  width: fit-content;
}

.products .controllers .btn {
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
  border: 2px solid var(--main-color);
  border-radius: var(--radius-circle);
  color: var(--main-color);
  font-size: 13px;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.products .controllers .btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
/* End Products Section */
/* Start Image Banner */
.image-banner-section .image-banner {
  border-radius: var(--radius-6);
  opacity: 0;
  pointer-events: none;
  transform: translateY(70px);
  transition: all var(--transition-duration);
}

.image-banner-section.show .image-banner {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
/* End Image Banner */
/* Start Decorated Section */
.decorated-section {
  background-color: var(--light-gray-color);
  padding: calc(var(--section-padding) + 40px) 0;
  border-top: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  text-align: center;
}

.decorated-section h2 {
  font-size: var(--title-font-size);
  margin-bottom: 20px;
}

.decorated-section h2 + p {
  color: var(--dark-gray-color);
  font-size: var(--dark-gray-color);
  line-height: 1.4;
}

.decorated-section .download-methods {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.decorated-section .download-methods a {
  width: 140px;
}

.decorated-section .download-methods a img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.decorated-section .path {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.decorated-section .path a {
  font-weight: 500;
  transition: color var(--transition-duration);
}

.decorated-section .path a:hover {
  color: var(--main-color);
}

.decorated-section .path span {
  color: var(--dark-gray-color);
}

.decorated-section .path .search-keyword-wrapper {
  color: var(--main-color);
  font-weight: 900;
}
/* End Decorated Section */
/* Start Testimonials Section */
.testimonials {
  padding: var(--section-padding) 0;
}

.testimonials .arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.testimonials .arrows button {
  color: var(--dark-gray-color);
  font-size: 18px;
  cursor: pointer;
  transition: color var(--transition-duration);
}

.testimonials .arrows button:hover {
  color: var(--main-color);
}

.testimonials .ts-box {
  background-color: #e9eefa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: var(--radius-6);
  position: relative;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all var(--transition-duration);
}

.testimonials .ts-box:nth-child(2) {
  transition-delay: 0.2s;
}

.testimonials .ts-box:nth-child(3) {
  transition-delay: 0.4s;
}

.testimonials.show .ts-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.testimonials .ts-box::before {
  content: "\f10d";
  position: absolute;
  left: 30px;
  top: 30px;
  color: var(--dark-gray-color);
  font-family: "Font Awesome 6 Free";
  font-size: 60px;
  font-weight: 900;
}

.testimonials .ts-box img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: var(--radius-circle);
}

.testimonials .ts-box q {
  color: var(--dark-gray-color);
  text-align: center;
  font-size: 17px;
}

.testimonials .ts-box .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: gold;
}

.testimonials .ts-box h4 {
  font-size: 17px;
}

/* Mobile Screens */
@media (max-width: 767px) {
  .testimonials .ts-box {
    padding: 20px;
  }
  .testimonials .ts-box::before {
    font-size: 40px;
  }
}
/* End Testimonials Section */
/* Start Video Section */
.video-section {
  padding-bottom: var(--section-padding);
}

.video-section .video {
  position: relative;
}

.video-section .video img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.video-section .video .video-btn {
  background-color: var(--main-color);
  width: 70px;
  height: 70px;
  border-radius: var(--radius-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  animation: pulse 1s linear infinite;
}
/* End Video Section */
/* Start Footer */
footer {
  background-color: #000;
  color: var(--white-color);
}

footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 20px;
  padding: 40px 0;
  margin-bottom: var(--section-padding);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-40px);
  transition: all var(--transition-duration);
}

footer.show .footer-top {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

footer .footer-top .shape {
  width: 40%;
}

footer .footer-top .shape::after {
  background-color: #000;
  animation-duration: 1.7s;
}

footer .footer-middle {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding-bottom: var(--section-padding);
  border-bottom: var(--light-border);
}

footer .footer-middle .col {
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all var(--transition-duration);
}

footer .footer-middle .col:nth-child(2) {
  transition-delay: 0.2s;
}

footer .footer-middle .col:nth-child(3) {
  transition-delay: 0.4s;
}

footer .footer-middle .col:nth-child(4) {
  transition-delay: 0.6s;
}

footer.show .footer-middle .col {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

footer .footer-middle .col:first-child {
  width: 300px;
}

footer .footer-middle .col:nth-child(2),
footer .footer-middle .col:nth-child(3) {
  width: 160px;
}

footer .footer-middle .col:last-child {
  flex-grow: 1;
}

footer .footer-middle .col .logo img {
  display: block;
  width: 65px;
  margin: 0 auto;
  object-fit: cover;
}

footer .footer-middle .col .logo + p {
  color: var(--dark-gray-color);
  text-align: center;
  line-height: 1.6;
  font-size: 14px;
}

footer .footer-middle .col h3 {
  line-height: 3;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .footer-middle .col .links {
  display: grid;
  gap: 10px;
}

footer .footer-middle .col a {
  color: #ddd;
  line-height: 1.4;
  font-size: 14px;
  transition: color var(--transition-duration);
}

footer .footer-middle .col a:hover {
  color: var(--main-color);
}

footer .footer-middle .col .phone-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
}

footer .footer-middle .col .download-methods {
  margin-bottom: 15px;
}

footer .footer-middle .col .download-methods img {
  display: inline-block;
  width: 120px;
}

footer .footer-middle .col .download-methods a:first-child {
  padding-right: 10px;
}

footer .footer-middle .col .tax-number {
  color: var(--dark-gray-color);
  margin-top: 8px;
}

footer .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}

footer .footer-bottom p {
  color: var(--dark-gray-color);
}

footer .footer-bottom .payment-methods {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .footer-bottom .payment-methods img {
  background-color: var(--white-color);
  display: block;
  width: 40px;
  padding: 5px;
  border-radius: var(--radius-6);
}

/* Mobile Screens */
@media (max-width: 767px) {
  footer .footer-middle .col {
    width: 100% !important;
  }
  footer .footer-middle .col a {
    width: fit-content;
  }
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  footer .footer-middle .col {
    width: calc(50% - 10px) !important;
    text-align: center;
  }
  footer .footer-middle .col .phone-btn {
    justify-content: center;
  }
}

/* Large Screens & Up */
@media (min-width: 1200px) {
  footer .footer-middle .col:first-child {
    width: 410px;
  }
  footer .footer-middle .col:nth-child(2),
  footer .footer-middle .col:nth-child(3) {
    width: 200px;
  }
}
/* End Footer */
/* Start Search Empty Results Section */
.search-empty-results {
  padding: var(--section-padding) 0;
  display: none;
}

.search-empty-results.show {
  display: block;
}

.search-empty-results .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-empty-results .icon {
  color: var(--dark-gray-color);
  font-size: 55px;
}

.search-empty-results p {
  color: var(--dark-gray-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.search-empty-results a {
  background-color: var(--main-color);
  display: block;
  width: fit-content;
  padding: 10px 30px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--white-color);
  font-size: 15px;
  font-weight: bold;
  transition: all var(--transition-duration);
}

.search-empty-results a:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* End Search Empty Results Section */
/* Start Products Grid */
.products-grid:has(.product-box:not(.hide)) {
  padding: var(--section-padding) 0;
}

.products-grid .content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products-grid .content .product-box {
  width: 212px;
}

/* Mobile Screens */
@media (max-width: 767px) {
  .products-grid .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .products-grid .content .product-box {
    width: auto;
  }
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .products-grid .content .product-box {
    width: 226px;
  }
}

/* Medium Screens */
@media (min-width: 992px) and (max-width: 1199px) {
  .products-grid .content .product-box {
    width: 220px;
  }
}
/* End Products Grid */
/* Start Cart Popups */
.cart-popup {
  background-color: var(--white-color);
  width: 270px;
  max-width: calc(100% - 30px);
  padding: 20px;
  border: var(--light-border);
  border-radius: var(--radius-6);
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 98;
  text-align: center;
  transition: all var(--transition-duration);
}

.cart-popup.hide {
  transform: translateX(calc(100% + 30px));
}

.cart-popup.positive {
  color: #0f0;
}

.cart-popup.negative {
  color: #f00;
}

.cart-popup .icon {
  font-size: 25px;
  position: relative;
  transform: scale(0);
  animation: scaleInOut 0.6s linear forwards;
}

.cart-popup .icon::after {
  content: '';
  width: 45px;
  height: 45px;
  border-radius: var(--radius-circle);
  border: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: show 0.5s 0.6s linear forwards;
}

.cart-popup.positive .icon::after {
  border-color: #0f0;
}

.cart-popup.negative .icon::after {
  border-color: #f00;
}

.cart-popup h3 {
  margin: 15px 0 10px;
  font-size: 16px;
  opacity: 0;
  animation: show 0.4s 0.2s linear forwards;
}

.cart-popup .counter {
  font-size: 15px;
  font-weight: bold;
  opacity: 0;
  animation: show 0.4s 0.4s linear forwards;
}
/* End Cart Popups */