/* Start Variables */
:root {
  --main-color: #ce181e;
  --txt-color: #222;
  --gray-color: #aaa;
  --white-color: #fff;
  --black-color: #222;
  --box-bg: #fff;
  --section-padding: 50px;
  --light-border: 1px solid #ddd;
  --box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
  --transition-duration: 0.5s;
}

/* End Variables */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--box-bg);
  color: var(--txt-color);
  font-family: 'Roboto', sans-serif;
  direction: rtl;
}

body.ltr {
  direction: ltr;
}

body.show-overlay {
  overflow: hidden;
}

body::before {
  content: "";
  background-color: rgb(0 0 0 / 40%);
  backdrop-filter: blur(7px);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration);
}

body.show-overlay::before {
  opacity: 1;
  pointer-events: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  caret-color: var(--main-color);
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  appearance: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.close-icon {
  display: inline-block;
  color: var(--txt-color);
  font-size: 17px;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.close-icon:hover {
  color: var(--main-color);
  transform: rotate(0.5turn);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  background-color: var(--main-color);
  width: 35px;
  height: 35px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 14px;
  transition: var(--transition-duration);
}

.social-icons a:hover {
  background-color: transparent;
  color: var(--main-color);
  transform: translateY(-10px) rotate(1turn);
}

.main-btn {
  background-color: var(--main-color);
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.main-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

.section-header {
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

.section-header h2 {
  font-size: 30px;
  font-weight: 700;
}

.section-header span {
  background-color: var(--main-color);
  width: 140px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header span::after {
  content: "";
  background-color: var(--white-color);
  width: 14px;
  height: 14px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: left-and-right 1.2s infinite alternate linear;
}

.swiper-pagination-bullet {
  background-color: var(--white-color);
  width: 9px;
  height: 9px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
  transform: scale(1.2);
}

/* End Components */
/* Start Animations */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(206 24 30 / 75%);
  }

  70% {
    box-shadow: 0 0 0 15px rgb(0 0 0 / 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0);
  }
}

@keyframes bounding {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes left-and-right {
  100% {
    left: calc(100% - 14px);
  }
}

/* End Animations */
/* Start Pre-Header Section */
.pre-header {
  padding: 15px 0;
  border-bottom: var(--light-border);
}

.pre-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 30px;
}

.pre-header .intro-p {
  font-size: 17px;
  font-weight: 600;
}

.pre-header .intro-p i {
  color: var(--main-color);
  font-size: 14px;
}

.pre-header .website-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 20px;
}

.pre-header .website-options .option {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.pre-header .website-options .option::after {
  content: "\f107";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 6 Free";
  font-size: 12px;
  font-weight: 800;
  pointer-events: none;
}

.ltr .pre-header .website-options .option::after {
  left: initial;
  right: 8px;
}

.pre-header .website-options .option span {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 800;
}

.pre-header .website-options .option select {
  width: fit-content;
  padding: 5px 10px 5px 25px;
  border: var(--light-border);
  border-radius: 4px;
  font-size: 14px;
  transition: border-color var(--transition-duration);
}

.ltr .pre-header .website-options .option select {
  padding: 5px 25px 5px 10px;
}

.pre-header .website-options .option select:focus {
  border-color: var(--main-color);
}

/* End Pre-Header Section */
/* Start Header */
header {
  background-color: var(--box-bg);
  transition: all var(--transition-duration);
}

header.sticky {
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 98;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container>div {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .menu-toggle {
  background-color: #eee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

header .menu-toggle:active {
  background-color: #ddd;
}

header .logo img {
  display: block;
  width: 95px;
  transition: width var(--transition-duration);
}

header.sticky .logo img {
  width: 75px;
}

header .icons button {
  cursor: pointer;
  transition: color var(--transition-duration);
}

header .icons button:hover {
  color: var(--main-color);
}

header .icons .cart-toggle {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
}

header .icons .cart-toggle::after {
  content: attr(data-products-count);
  background-color: var(--main-color);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(50%, -50%);
  color: var(--white-color);
  font-size: 11px;
}

.ltr header .icons .cart-toggle::after {
  transform: translate(-50%, -50%);
}

header .icons .cart-toggle p {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
}

.ltr header .icons .cart-toggle p {
  flex-direction: row;
}

/* Mobile Screens */
@media (max-width: 499px) {
  header .icons .cart-toggle p {
    display: none;
  }
}

/* End Header */
/* Start Main Menu */
.main-menu {
  background-color: var(--box-bg);
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(100%);
  transition: all var(--transition-duration);
}

.ltr .main-menu {
  right: initial;
  left: 0;
  transform: translateX(-100%);
}

.main-menu.open {
  opacity: 1;
  transform: translateX(0);
}

.main-menu .menu-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: var(--light-border);
}

.main-menu .menu-head h3 {
  font-size: 20px;
}

.main-menu .menu-links {
  flex-grow: 1;
  padding: 25px;
}

.main-menu .menu-links a {
  display: block;
  padding: 10px;
  color: var(--txt-color);
  font-size: 15px;
  font-weight: 600;
  position: relative;
  transition: all var(--transition-duration);
}

.main-menu .menu-links li:not(:last-child) a {
  border-bottom: var(--light-border);
}

.main-menu .menu-links a:hover {
  color: var(--main-color);
  padding-right: 25px;
}

.ltr .main-menu .menu-links a:hover {
  padding-left: 25px;
}

.main-menu .menu-links a::before,
.main-menu .menu-links a::after {
  content: "";
  background-color: var(--main-color);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity var(--transition-duration);
}

.main-menu .menu-links a:hover::before,
.main-menu .menu-links a:hover::after {
  opacity: 1;
}

.main-menu .menu-links a::before {
  right: 0;
}

.ltr .main-menu .menu-links a::before {
  right: initial;
  left: 0;
}

.main-menu .menu-links a::after {
  right: 10px;
  transition-delay: 0.2s;
}

.ltr .main-menu .menu-links a::after {
  right: initial;
  left: 10px;
}

.main-menu .menu-footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  border-top: var(--light-border);
}

/* End Main Menu */
/* Start Search Bar */
.search-bar {
  width: 600px;
  max-width: calc(100% - 30px);
  border-radius: 6px;
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.search-bar.open {
  top: 25%;
  opacity: 1;
  pointer-events: auto;
}

.search-bar input {
  background-color: var(--box-bg);
  display: block;
  width: 100%;
  padding: 20px 40px 20px 20px;
  border: var(--light-border);
  border-radius: 6px;
}

.ltr .search-bar input {
  padding: 20px 20px 20px 40px;
}

.search-bar i {
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
}

.search-bar i:first-of-type {
  right: 20px;
  color: var(--gray-color);
  font-size: 15px;
}

.ltr .search-bar i:first-of-type {
  right: initial;
  left: 20px;
}

.search-bar i:last-of-type {
  left: 20px;
}

.ltr .search-bar i:last-of-type {
  left: initial;
  right: 20px;
}

/* End Search Bar */
/* Start Sign In Popup */
.signin-popup {
  background-color: var(--box-bg);
  width: 650px;
  max-width: calc(100% - 30px);
  border-radius: 8px;
  position: fixed;
  left: 50%;
  top: 60%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.signin-popup.open {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
}

.signin-popup::after {
  content: "";
  background-color: var(--black-color);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  z-index: -1;
  opacity: 0.85;
}

.ltr .signin-popup::after {
  right: initial;
  left: 0;
  transform: translate(-50%, 50%);
}

.signin-popup .close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.ltr .signin-popup .close-icon {
  right: initial;
  left: 20px;
}

.signin-popup .content {
  width: 55%;
  padding: 25px;
}

.signin-popup .content .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: var(--light-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.signin-popup .content h3 {
  text-align: center;
  font-size: 20px;
  margin: 15px 0;
}

.signin-popup .content .field {
  margin-bottom: 20px;
}

.signin-popup .content .field label {
  display: block;
  width: fit-content;
  margin-bottom: 10px;
  font-weight: 600;
}

.signin-popup .content .field input {
  display: block;
  width: 100%;
  padding: 13px;
  border: var(--light-border);
  border-radius: 4px;
  transition: all var(--transition-duration);
}

.signin-popup .content .field input:focus {
  border-color: var(--main-color);
}

.signin-popup .content .field.success input {
  border-color: #0f0;
  caret-color: #0f0;
}

.signin-popup .content .field.error input {
  border-color: #f00;
  caret-color: #f00;
  color: #f00;
}

.signin-popup .content .field .msg {
  line-height: 1.3;
  font-size: 14px;
  margin-top: 5px;
}

.signin-popup .content .field.success .msg {
  color: #0f0;
}

.signin-popup .content .field.error .msg {
  color: #f00;
}

.signin-popup .content .main-btn {
  width: 100%;
}

.signin-popup .image {
  width: 45%;
}

.signin-popup .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile Screens */
@media (max-width: 767px) {
  .signin-popup .content {
    width: 100%;
  }

  .signin-popup .image {
    display: none;
  }
}

/* End Sign In Popup */
/* Start Cart Menu */
.cart-menu {
  background-color: var(--box-bg);
  display: flex;
  flex-direction: column;
  width: 380px;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(-100%);
  transition: all var(--transition-duration);
}

.ltr .cart-menu {
  left: initial;
  right: 0;
  transform: translateX(100%);
}

.cart-menu.open {
  opacity: 1;
  transform: translateX(0);
}

.cart-menu .cart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: var(--light-border);
}

.cart-menu .cart-head h3 {
  font-size: 20px;
}

.cart-menu .cart-content {
  flex-grow: 1;
  padding: 25px;
}

.cart-menu .cart-content .empty {
  text-align: center;
}

.cart-menu .cart-content .empty.hidden {
  display: none;
}

.cart-menu .cart-content .empty i {
  background-color: #eee;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 22px;
}

.cart-menu .cart-content .empty h3 {
  margin: 15px 0 10px;
}

.cart-menu .cart-content .empty p {
  color: var(--gray-color);
  line-height: 1.4;
  font-size: 17px;
}

.cart-menu .cart-content .cart-products {
  display: grid;
  gap: 15px;
}

.cart-menu .cart-content .cart-products .product {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition-duration);
}

.cart-menu .cart-content .cart-products .product.deleted {
  opacity: 0;
  transform: translateX(-80px);
}

.cart-menu .cart-content .cart-products .product .image {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.cart-menu .cart-content .cart-products .product .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-menu .cart-content .cart-products .product .text {
  flex-grow: 1;
}

.cart-menu .cart-content .cart-products .product .product-title {
  display: block;
  width: fit-content;
  color: var(--txt-color);
  font-weight: 600;
  transition: color var(--transition-duration);
}

.cart-menu .cart-content .cart-products .product .product-title:hover {
  color: var(--main-color);
}

.cart-menu .cart-content .cart-products .product .price {
  display: block;
  margin: 7px 0;
  color: var(--gray-color);
  font-size: 14px;
  font-weight: bold;
}

.cart-menu .cart-content .cart-products .product input {
  display: block;
  width: 70px;
  padding: 7px;
  border: var(--light-border);
  font-size: 14px;
}

.cart-menu .cart-content .cart-products .product .close-icon {
  font-size: 14px;
  align-self: flex-start;
}

.cart-menu .cart-footer {
  padding: 25px;
  border-top: var(--light-border);
}

.cart-menu .cart-footer .cart-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-menu .cart-footer .cart-footer-row .subtotal-price {
  color: var(--gray-color);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.ltr .cart-menu .cart-footer .cart-footer-row .subtotal-price {
  flex-direction: row;
}

.cart-menu .cart-footer .main-btn {
  width: 100%;
  text-align: center;
}

.cart-menu .cart-footer .main-btn.disabled {
  opacity: 0.7;
  pointer-events: none;
}

/* End Cart Menu */
/* Start Hero Section */
.hero {
  padding: var(--section-padding) 0;
  overflow: hidden;
}

.hero .slider {
  margin-bottom: 15px;
  position: relative;
  opacity: 0;
  transform: translateX(50px);
  transition: all var(--transition-duration);
}

.hero.active .slider {
  opacity: 1;
  transform: translateX(0);
}

.ltr .hero .slider {
  direction: rtl;
}

.hero .slider img {
  user-select: none;
}

.hero .slider .hero-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
}

.hero .slider .arrow {
  background-color: var(--white-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.hero .slider .arrow:first-of-type {
  right: 20px;
}

.hero .slider .arrow:last-of-type {
  left: 20px;
}

.hero .slider .arrow:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.hero .slider:hover .arrow {
  opacity: 1;
  pointer-events: auto;
}

.hero .banners-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.hero .banners-content .image {
  opacity: 0;
  pointer-events: none;
  transform: translateY(70px);
  transition: all var(--transition-duration);
}

.hero.active .banners-content .image {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.hero img {
  display: block;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Mobile Screens */
@media (max-width: 767px) {
  .hero .slider .hero-pagination {
    bottom: 10px;
  }

  .hero .slider .hero-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }

  .hero .slider .arrow {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  .hero .slider .arrow:first-of-type {
    right: 10px;
  }

  .hero .slider .arrow:last-of-type {
    left: 10px;
  }
}

/* End Hero Section */
/* Start Products Section */
.products {
  padding: var(--section-padding) 0;
}

.ltr .products {
  direction: rtl;
}

.products .product-box {
  background-color: var(--box-bg);
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  transition: all var(--transition-duration);
}

.products .product-box:nth-child(2) {
  transition-delay: 0.2s;
}

.products .product-box:nth-child(3) {
  transition-delay: 0.4s;
}

.products .product-box:nth-child(4) {
  transition-delay: 0.6s;
}

.products .product-box:nth-child(5) {
  transition-delay: 0.8s;
}

.products .product-box:nth-child(6) {
  transition-delay: 1s;
}

.products .product-box:nth-child(7) {
  transition-delay: 1.2s;
}

.products .product-box:nth-child(8) {
  transition-delay: 1.4s;
}

.products.active .product-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.products .product-box .image {
  border: 3px solid var(--main-color);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.products .product-box .image img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  user-select: none;
  transition: all var(--transition-duration);
}

.products .product-box:hover .image img {
  opacity: 0.7;
  transform: scale(1.1) rotate(4deg);
}

.products .product-box .product-options {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: all var(--transition-duration);
}

.products .product-box:hover .product-options {
  bottom: 10px;
  opacity: 1;
  transform: translateY(0);
}

.products .product-box .product-options a {
  background-color: #ccc;
  width: 35px;
  height: 35px;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 14px;
  transition: all var(--transition-duration);
}

.products .product-box .product-options a:hover {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}

.products .product-box .product-options .cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 12px;
}

.products .product-box .details {
  padding-top: 15px;
  text-align: center;
}

.products .product-box .details .product-title {
  color: var(--txt-color);
  font-size: 18px;
  font-weight: bold;
  transition: color var(--transition-duration);
}

.products .product-box .details .product-title:hover {
  color: var(--main-color);
}

.products .product-box .details .price {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

/* End Products Section */
/* Start Banners Section */
.banners {
  padding: calc(var(--section-padding) / 2) 0;
  position: relative;
}

.banners .image {
  display: block;
}

.banners .image img {
  display: block;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* End Banners Section */
/* Start Added To Cart Popup */
.added-to-cart-popup {
  background-color: var(--box-bg);
  width: 400px;
  max-width: calc(100% - 30px);
  padding: 20px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 97;
  transform: translate(-50%, -30%);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.added-to-cart-popup.show {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.added-to-cart-popup i {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0;
  font-size: 20px;
}

.added-to-cart-popup h3 {
  margin: 10px 0 15px;
}

.added-to-cart-popup .counter {
  color: var(--main-color);
  font-weight: bold;
}

/* End Added To Cart Popup */
/* Start Remove From Cart Popup */
.removed-from-cart-popup {
  background-color: var(--box-bg);
  width: 400px;
  max-width: calc(100% - 30px);
  padding: 20px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -30%);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.removed-from-cart-popup.show {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.removed-from-cart-popup i {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f00;
  font-size: 20px;
}

.removed-from-cart-popup h3 {
  margin: 10px 0 15px;
}

.removed-from-cart-popup .counter {
  color: var(--main-color);
  font-weight: bold;
}

/* End Removed From Cart Popup */
/* Start Download Section */
.download {
  background-color: #f4f4f4;
  padding: calc(var(--section-padding) * 2) 0;
  border-top: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  text-align: center;
}

.download h2 {
  font-size: 32px;
}

.download p {
  color: var(--gray-color);
  text-align: center;
  line-height: 1.4;
  margin: 20px 0;
}

.download .main-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
}

/* End Download Section */
/* Start Testimonials Section */
.testimonials {
  padding: calc(var(--section-padding) + 20px) 0;
}

.testimonials .arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ltr .testimonials .arrows {
  flex-direction: row-reverse;
}

.testimonials .arrows .arrow {
  color: var(--gray-color);
  font-size: 17px;
  cursor: pointer;
  transition: color var(--transition-duration);
}

.testimonials .arrows .arrow:hover {
  color: var(--main-color);
}

.ltr .testimonials .content {
  direction: rtl;
}

.testimonials .ts-box {
  background-color: #eee;
  padding: 30px;
  border-radius: 6px;
  text-align: center;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transform: translateY(70px);
  transition: all var(--transition-duration);
}

.testimonials.active .ts-box:nth-child(2) {
  transition-delay: 0.2s;
}

.testimonials.active .ts-box:nth-child(3) {
  transition-delay: 0.4s;
}

.testimonials.active .ts-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.testimonials .ts-box::after {
  content: "\f10d";
  color: var(--gray-color);
  font-family: "Font Awesome 6 Free";
  font-size: 60px;
  font-weight: 900;
  position: absolute;
  left: 30px;
  top: 30px;
}

.testimonials .ts-box img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonials .ts-box p {
  color: var(--gray-color);
  font-size: 17px;
  margin: 20px 0;
  position: relative;
}

.testimonials .ts-box p::before {
  content: '" ';
}

.testimonials .ts-box p::after {
  content: ' "';
}

.testimonials .ts-box .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;
  color: gold;
}

.testimonials .ts-box h4 {
  font-size: 17px;
}

.testimonials .testimonials-pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px;
}

.testimonials .testimonials-pagination .swiper-pagination-bullet {
  background-color: #ddd;
}

.testimonials .testimonials-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

/* End Testimonials Section */
/* Start Video Section */
.video {
  padding: var(--section-padding) 0;
  position: relative;
}

.video img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .play-btn {
  background-color: var(--main-color);
  width: 70px;
  height: 70px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 17px;
  cursor: pointer;
  animation: pulse 1.6s infinite;
}

/* End Video Section */
/* Start Video Popup */
.video-popup {
  width: 650px;
  max-width: calc(100% - 30px);
  position: fixed;
  left: 50%;
  top: 60%;
  z-index: 100;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration);
}

.video-popup.open {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
}

.video-popup iframe {
  width: 100%;
}

.video-popup .close-btn {
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  cursor: pointer;
}

.video-popup .close-btn:hover i {
  transform: rotate(0.5turn);
  color: var(--white-color);
}

/* End Video Popup */
/* Start Footer */
footer {
  background-color: var(--txt-color);
  color: var(--box-bg);
}

footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: var(--section-padding) 0;
  border-bottom: var(--light-border);
}

footer .footer-middle {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  padding: var(--section-padding) 0;
  border-bottom: var(--light-border);
}

footer .footer-middle .footer-col:has(.logo) {
  width: calc((100% - 90px) / 3);
  margin-top: -20px;
}

footer .footer-middle .footer-col:not(:has(.logo)) {
  flex-grow: 1;
}

.ltr footer .footer-middle .footer-col {
  width: 210px;
}

footer .footer-middle .logo img {
  display: block;
  width: 80px;
  margin: 0 auto;
}

footer .footer-middle .logo+p {
  color: var(--gray-color);
  text-align: center;
  line-height: 1.4;
  font-size: 15px;
}

footer .footer-middle h3 {
  color: var(--gray-color);
  font-size: 20px;
  margin-bottom: 20px;
}

footer .footer-middle .links {
  display: grid;
  gap: 10px;
}

footer .footer-middle .links a {
  display: block;
  width: fit-content;
  color: var(--white-color);
  font-size: 14px;
  transition: all var(--transition-duration);
}

footer .footer-middle .links a:hover {
  color: var(--main-color);
  transform: translateX(-10px);
}

.ltr footer .footer-middle .links a:hover {
  color: var(--main-color);
  transform: translateX(10px);
}

footer .footer-middle .phone-link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 600;
  transition: color var(--transition-duration);
}

footer .footer-middle .phone-link:hover {
  color: var(--main-color);
}

footer .footer-middle .download-methods {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer .footer-middle .download-methods a {
  display: block;
  width: 120px;
}

footer .footer-middle .download-methods a img {
  display: block;
  width: 100%;
}

footer .footer-middle .download-methods+p {
  margin-top: 20px;
  font-size: 15px;
}

footer .footer-middle .download-methods+p span {
  display: block;
  margin-top: 10px;
}

footer .footer-bottom {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px 30px;
}

footer .footer-bottom .pay-methods {
  display: flex;
  align-items: center;
  gap: 7px;
}

footer .footer-bottom .pay-methods img {
  background-color: var(--white-color);
  display: block;
  width: 40px;
  padding: 5px;
  border-radius: 4px;
}

/* Mobile Screens */
@media (max-width: 767px) {
  footer .footer-middle .footer-col {
    width: 100% !important;
  }

  footer .footer-middle h3,
  footer .footer-middle .download-methods+p {
    text-align: center;
  }

  footer .footer-middle .links a,
  footer .footer-middle .phone-link {
    margin: 0 auto;
  }

  footer .footer-middle .download-methods {
    justify-content: center;
  }

  footer .footer-bottom {
    justify-content: center;
  }
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  footer .footer-middle .footer-col {
    width: calc((100% - 30px) / 2) !important;
  }
}

/* End Footer */
/* Start Scroll To Top Btn */
.scroll-to-top {
  background-color: var(--main-color);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 32px;
  bottom: 30px;
  z-index: 98;
  color: var(--white-color);
  font-size: 15px;
  cursor: pointer;
  transform: translateX(70px);
  transition: all var(--transition-duration);
}

.scroll-to-top.show {
  transform: translateX(0);
}

.scroll-to-top:hover i {
  animation: bounding 0.6s infinite;
}

/* End Scroll To Top Btn */